body {
    background-color: white;
    height: 100%;
    font-style: normal;
}
.rivi{
    background-color: white;
    height: 47%;
}
@media only screen and(max-width: 500px), (max-device-width:500px){
    .rivi{
        background-image: url("./koirakuvat/piene.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
       
    }
}

@media only screen and (min-width: 500px){
    .rivi{
        background-image: url("./koirakuvat/piene.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media only screen and (min-width: 768px){
    .rivi{
        background-image: url("./koirakuvat/dog-1417208_1280.png");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.rivi h1{
    padding-top: 90px;
    text-align: center;
}

.navigaatiopalkki{
    border: 1px;
}

.etusivuteksti p{
    padding: 60px;
    justify-content: center;
}
.etusivuteksti video{
    padding: 60px;
}

.etusivuteksti{
    padding-top: 20px;
}

.linkit{
    color:black;
    margin: 10px;
}
.linkit:hover{
    background-color: rgb(121, 120, 120);
    color: white
}
